

#resume-colors{
    background-color: #f4f4f4; /* Body background color */

    background-color: #2e86c1; /* Header and Footer background color */
    color: white; /* Header and Footer text color */

    background-color: white; /* Main content background color */
    color: #333333; /* Main content text color */

    background-color: #e8f6f3; /* Section Header Background color */
     /* Section border left color #117a65; */

    background-color: #fafafa; /* Article background color */
    color: #2c3e50; /* Article h1 color */
    
    background-color: #d6eaf8; /* Span Skills background color */
}